*{
    box-sizing: border-box;
    font-size: 20px;
    color: black;
}
body{
    background-color: rgb(75, 80, 86);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.container{
    background-color: gray;
    border: 2px solid gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display{
    background-color: lightblue;
    aspect-ratio: 4/1;
    width: 300px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.display-text{
    margin:0;
    padding: 5px;
    width: 100%;
    text-align: right;
    font-size: 35px;
    overflow-wrap: anywhere;
}
.pad{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.column{
    display: flex;
    flex-direction: column;
}
.equal{
    flex: 1 1 auto;
}
button{
    width: 75px;
    height: 75px;
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid gray;
}
.active{
    background-color: lightsalmon;
}
.operator, .equal, #clear{
    background-color: darkgrey;
}

.backspace{
    width: 50px;
    height: 30px;
    align-self: flex-end;
    margin-right: 10px;
    background-color: darksalmon;
}